html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

body {
  background: url("assets/images/BG.png") no-repeat center;
  background-size: cover;

  &.win {
    background: #CCC;
  }
}

#load_screen {
  background: #003;
  opacity: 1;
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
  height: 100vh;
}

#loading {
  position: relative;
  width: 200px;
  height: 150px;
  margin: 300px auto;
  background: url(assets/images/Infinity-1.8s-200px.svg)
}

#myCanvas {

  display: block;
  opacity: 0.8;
  margin-top: 2vh;
  margin-left: 8vw;
}





